html, body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: rgb(0,0,0);
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
}

button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

/* #defaultCanvas0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */